eureka:
  client:
    serviceUrl:
      defaultZone: http://172.17.190.104:2000/eureka/
server:
  port: 2005
spring:
  application:
    name: eurekaclientfeign
feign:
  hystrix:
    enabled: true
  compression:
    request:
      enabled: true
    response:
      enabled: true
